<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal Shelter Manager</title>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/addAnimal}" th:object="${animal}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td><label>Name</label></td>
                <td>
                    <input type="text" th:field="*{name}"/>
                    <label th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"  th:class="'error'">Error in name</label>
                </td>
            </tr>
            <tr>
                <td><label>Type</label></td>
                <td>
                    <input type="text" th:field="*{type}"/>
                    <label th:if="${#fields.hasErrors('type')}"  th:errors="*{type}"  th:class="'error'">Error in type</label>
                </td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td>
                    <textarea type="text" th:field="*{description}"/>
                    <label th:if="${#fields.hasErrors('description')}"  th:errors="*{description}"  th:class="'error'">Error in description</label>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>